.cart-total-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-end;
  align-items: flex-end;
  height: 100px;
}

.cart-text-right {
  display: flex;
  text-align: right;
  justify-self: flex-end;
  align-self: flex-end;
  margin-top: 50px;

}